@import './base/variables';
@import './componentes/nav';
@import './componentes/footer';

.body{
    /* background-color: rgb(234, 244, 244); */
    background:$negro;
    font-family: system-ui;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    overflow: hidden;
}
.section{
    background-color: $negro;
    color: white;
}
.section img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.section_ruta img{
    height: 100%;
}
.link{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
#fotoMia{
    border-radius: 1px;
}
#pandagif{
    width: 60%;
}
#scrolldown{
    position: fixed;
    height: 25%;
    padding-left: 38%;
    color: white;
}
.section_generalidades{
    padding-top: 200px;
}

// cards de referidos //
.card {
    width: 450px;
    height: 554px;
    background: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
}
   
.card:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
    background-color: #4bb8ff;
}
   
.card .blob {
    height: 10px;
    width: 75%;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    background-color: #4bb8ff;
    visibility: visible;
    transition: all 0.3s;
}
   
.card:hover .blob {
    height: 0;
}
   
.card .img {
    display: flex;
    margin: 30px auto 10px auto;
    width: 70px;
    height: 70px;
    background-color: #4bb8ff;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
   
.card:hover .img {
    width: 100%;
    height: 70%;
    border-radius: 10px 0 0;
    margin: 0 auto;
    background-color: #f0f0f0;
    z-index: 99999;
}
   
.card h3 {
    padding: 55px 10px;
    font-size: 45px;
    transition: all 0.1s;
    line-height: 17px;
    font-family: rubik, sans-serif;
    color: black;
}
   
.card span {
    font-size: 18px;
}

.card>p {
    opacity: 0;
    transition: all 0.75s;
}
   
.card>p>svg {
    padding: 5px;
}
   
.card:hover>p {
    position: absolute;
    bottom: 15px;
    left: 35px;
    opacity: 1;
    transition: all 0.1s;
}
.img_card{
    border-radius: 50%;
    border: solid 5px white;
}

/* grid de la pagina "tu entorno" */

.grid{
    width: 100%;
    padding: 8px 8px 8px 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

// section grid de referidos // 

.section_grid_referido{
    display: flex;
    justify-content: center;
}

// formulario de foro // 

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}

/* hovers */

.header_nav_lista li:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
.header_nav_lista li a:hover{
    color: white;
}
a:hover{
    color: rgb(46, 229, 156);
    transition: all 0.5s;
}
#fotoMia:hover{
    transform: scale(1.05);
    transition: 0.5s linear;
}
.section img{
    mix-blend-mode: normal;
}
.section_grid{
    border: 5px solid $naranja;
    padding: 10px;
}
.borde_imagen_carrusel{
    border: 10px solid $naranja;
}    

/* media queries */

    /* desktop */

@media (min-width: 992px){
    header{
        display: flex;
    }
    .header_main{
        height: 1000px;
    }
    .header_main::before{
        content: "";
        height: 90%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 100px;
        background: linear-gradient(rgba(255,255,255,0), rgb(36, 39, 43, 1));
    }
    .body{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .header_nav_lista li{
        padding-right: 35px; 
    }
    main{
        padding-top: 200px;
        padding-bottom: 400px;
    }
    .header_nav_lista li a{
        font-size: 20px;
    }
    .header_logo{
        padding-left: 10px;
        font-size: 15px;
    }
    .main__parrafo{
        font-size: 20px;
        padding-left: 110px;
        padding-right: 110px;
    }
    .section__parrafo{
        font-size: 17px;
    }
    .section{
        font-size: 20px;
        margin: 50px;
        margin-top: 1rem;
        padding: 20px;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 20px;
    }
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer__ul li{
        font-size: 20px;
        padding-left: 20px;
    }
    #fotoMia{
        height: 350px;
    }
    #ruta{
        width: 900px;
    }
    .imagen_carrusel{
        padding-top: 100px;
        width: 500px;   
        justify-content: center;
    }
    section iframe{
        width: 50%;
    }
}
   
    // media para los botones del header //

@media screen and (max-width: 1150px){
    header{
        display:flex;
        flex-direction: column;
        padding-top: 10px;
    }
}
    

    /* medium size */

@media screen and (max-width: 992px) and (min-width: 576px){

    header{
        display: flex;
        flex-direction: column;
    }
    .header_main{
        height: 1000px;
    }
    .header_main::before{
        content: "";
        height: 90%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 420px;
        background: linear-gradient(rgba(255,255,255,0), rgb(36, 39, 43, 1)65%);
    }
    .header_nav_lista{
        padding: 5px;
        flex-direction: column;
    }
    .header_nav_lista li{
        padding: 12px;
    }
    .body{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    main{
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .header_nav_lista li a{
        font-size: 15px;
    }
    .header_logo{
        padding-left: 10px;
        font-size: 15px;
    }
    .main__parrafo{
        font-size: 15px;
    }
    .section__parrafo{
        font-size: 13px;
    }
    .grid section img{
        height: 150px;
    }
    .grid_referido{
        display: flex;
        flex-direction: column;
    }
    .section{
        margin: 50px;
        margin-top: 20rem;
        padding: 20px;
    }
    .titulo{
        font-size: 25px;
    }
    .subtitulo{
        font-size: 18px;
    }
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer__ul li{
        font-size: 18px;
        padding-left: 20px;
    }
    #fotoMia{
        height: 300px;
        border: solid black 3px;
    }
    #ruta{
        width: 100%;
    }
    #scrolldown{
        visibility: hidden;
    }
    .imagen_carrusel{
        padding-top: 80px;
        width: 400px;   
        justify-content: center;
    }
    section iframe{
        width: 60%;
    }
    
}

    /* phone */

@media screen and (max-width: 576px){

    header{
        display: flex;
        flex-direction: column;
    }
    .header_main{
        height: 1000px;
    }
    .header_main::before{
        content: "";
        height: 90%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 420px;
        background: linear-gradient(rgba(255,255,255,0), rgb(36, 39, 43, 1)65%);
    }
    .main_alterno{
        padding-top: 300px;
    }
    .header_nav_lista{
        padding: 5px;
        flex-direction: column;
    }
    .header_nav_lista li{
        padding: 5px;
    }
    .body{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .grid section img{
        height: 150px;
    }
    main{
        padding-top: 300px;
        padding-bottom: 30px;
    }
    .header_nav_lista li a{
        font-size: 15px;
    }
    .header_logo{
        padding-left: 10px;
        font-size: 15px;
    }
    .main__parrafo{
        font-size: 15px;
    }
    .section__parrafo{
        font-size: 15px;
        padding-bottom: 30px;
    }
    .section{
        margin: 30px;
        padding: 20px;
    }
    .titulo{
        font-size: 20px;
    }
    .subtitulo{
        font-size: 13px;
        padding-bottom: 5px;
    }
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer__ul li{
        font-size: 8px;
        padding-left: 20px;
    }
    #fotoMia{
        height: 300px;
        border: 5px black solid;
    }
    #ruta{
        visibility: hidden;
    }
    iframe{
        width: 400px;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .imagen_carrusel{
        padding-top: 50px;
        width: 300px;   
        justify-content: center;
    }
    main{
        padding-top: 50px;
    }
    section iframe{
        width: 100%;
    }

}

/* animaciones */

header{
    animation: headerEntrada 0.7s ease-in-out;
}

/* keyframes */

@keyframes headerEntrada{
    from{
        transform: translateY(-500px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* animacion hola mundo */
.holamundoDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.holaMundo {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    font-size: 25px;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
    
    @keyFrames typing {
    
    from { width: 0}
    }
    
    @keyFrames blink {
     
    }
