/*font-family: 'Rubik', sans-serif;*/
/*reset*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Para utilizar rem */

html {
    font-size: 62.5%;
}
/* generalidades */

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

/* header */

header{
    background-color: rgb(195, 111, 9);
    border: black 1px solid;
    justify-content: space-between;
    min-height: 50px;
    width: 100%;
    font-family: sans-serif;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.header_logo_img{
    padding-right: 10px;
    height: 50px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_nav_lista{
    display: flex;
    justify-content: right;
}
.header_nav_lista li a{
    color: black;
    text-decoration: none;
    font-family: rubik, sans-serif,
}

/*body*/

.body{
    /* background-color: rgb(234, 244, 244); */
    background:rgb(36, 39, 43);
    font-family: montserrat, sans-serif; 
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.section{
    background-color: rgb(36, 39, 43);
    border-radius: 2rem;
}
.section img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.section_ruta img{
    height: 100%;
}
.link{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
footer{
    background-color: rgb(191, 189, 193);
    align-items: center;
}
.footer__ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
#fotoMia{
    border-radius: 5px;
}

/* grid de la pagina "tu entorno" */

.grid{
    width: 100%;
    padding: 30px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/* hovers */

.header_nav_lista li:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
.header_nav_lista li a:hover{
    color: white;
}
.link:hover{
    color: rgb(195, 111, 9);
    transition: all 0.5s;
}
#fotoMia:hover{
    transform: scale(1.05);
    transition: 0.5s linear;
}
.section img{
    mix-blend-mode: normal;
}

/* media queries */

    /* desktop */

@media (min-width: 1024px){
    header{
        display: flex;
        flex direction: display;
    }
    .body{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .header_nav_lista li{
        padding-right: 35px; 
    }
    main{
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .header_nav_lista li a{
        font-size: 20px;
    }
    .header_logo{
        padding-left: 10px;
        font-size: 15px;
    }
    .main__parrafo{
        font-size: 20px;
    }
    .section__parrafo{
        font-size: 17px;
    }
    .section{
        border: solid 5px rgb(195, 111, 9);
        font-size: 20px;
        margin: 50px;
        padding: 20px;}
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 20px;
    }
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer__ul li{
        font-size: 20px;
        padding-left: 20px;
    }
    #fotoMia{
        height: 350px;
        border: 5px black solid;
    }
    #ruta{
        width: 900px;
    }
}
    
    /* medium size */

@media screen and (max-width: 1024px) and (min-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .header_nav_lista{
        padding: 5px;
    }
    .header_nav_lista li{
        padding: 10px;
    }
    .body{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    main{
        padding-top: 120px;
        padding-bottom: 30px;
    }
    .header_nav_lista li a{
        font-size: 15px;
    }
    .header_logo{
        padding-left: 10px;
        font-size: 15px;
    }
    .main__parrafo{
        font-size: 15px;
    }
    .section__parrafo{
        font-size: 13px;
    }
    .section{
        border: solid 4px rgb(195, 111, 9);
        margin: 50px;
        padding: 20px;}
    .titulo{
        font-size: 25px;
    }
    .subtitulo{
        font-size: 18px;
    }
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer__ul li{
        font-size: 18px;
        padding-left: 20px;
    }
    #fotoMia{
        height: 300px;
        border: 5px black solid;
    }
    #ruta{
        width: 480px;
    }

}

    /* phone */

@media screen and (max-width: 600px){

    header{
        display: flex;
        flex-direction: column;
    }
    .header_nav_lista{
        padding: 10px;
        flex-direction: column;
    }
    .header_nav_lista li{
        padding: 10px;
    }
    .body{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    main{
        padding-top: 300px;
        padding-bottom: 30px;
    }
    .header_nav_lista li a{
        font-size: 15px;
    }
    .header_logo{
        padding-left: 10px;
        font-size: 15px;
    }
    .main__parrafo{
        font-size: 12px;
    }
    .section__parrafo{
        font-size: 10px;
    }
    .section{
        border: solid 3px rgb(195, 111, 9);
        margin: 30px;
        padding: 20px;}
    .titulo{
        font-size: 15px;
    }
    .subtitulo{
        font-size: 13px;
        padding-bottom: 5px;
    }
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer__ul li{
        font-size: 18px;
        padding-left: 20px;
    }
    #fotoMia{
        height: 300px;
        border: 5px black solid;
    }
    #ruta{
        width: 400px;
    }
    iframe{
        width: 400px;
    }

}

/* animaciones */

header{
    animation: headerEntrada 0.7s ease-in-out;
}

/* keyframes */

@keyframes headerEntrada{
    from{
        transform: translateY(-500px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}



