/*colores*/
/*colores*/
/* header */
header {
  justify-content: space-between;
  min-height: 50px;
  width: 100%;
  font-family: sans-serif;
  align-items: center;
  z-index: 1;
}

.header_main {
  background-image: url(../Imagenes/workspace-g510092e90_1920.jpg);
  position: relative;
}

.header_logo_img {
  padding-right: 10px;
  padding-top: 3px;
  height: 50px;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_nav_lista {
  padding-top: 15px;
  display: flex;
  justify-content: right;
  list-style: none;
}

.header_nav_lista li a {
  color: white;
  text-decoration: none;
  font-family: rubik, sans-serif;
}

.header_logo a {
  text-decoration: none;
  color: white;
  font-family: monserrat, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.button-nav {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-nav:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-nav:active {
  transform: translateY(-1px);
}

footer {
  background-color: rgb(191, 189, 193);
  align-items: center;
}

.footer__ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.body {
  /* background-color: rgb(234, 244, 244); */
  background: rgb(36, 39, 43);
  font-family: montserrat, sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  overflow: hidden;
}

.section {
  background-color: rgb(36, 39, 43);
  color: white;
}

.section img {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.section_ruta img {
  height: 100%;
}

.link {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

#fotoMia {
  border-radius: 1px;
}

#pandagif {
  width: 60%;
}

/* grid de la pagina "tu entorno" */
.grid {
  width: 100%;
  padding: 8px 8px 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* hovers */
.header_nav_lista li:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.header_nav_lista li a:hover {
  color: white;
}

a:hover {
  color: rgb(46, 229, 156);
  transition: all 0.5s;
}

#fotoMia:hover {
  transform: scale(1.05);
  transition: 0.5s linear;
}

.section img {
  mix-blend-mode: normal;
}

.section_grid {
  border: 5px solid rgb(195, 111, 9);
  padding: 10px;
}

.borde_imagen_carrusel {
  border: 10px solid rgb(195, 111, 9);
}

/* media queries */
/* desktop */
@media (min-width: 992px) {
  header {
    display: flex;
  }
  .header_main {
    height: 1000px;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .header_nav_lista li {
    padding-right: 35px;
  }
  main {
    padding-top: 200px;
    padding-bottom: 400px;
  }
  .header_nav_lista li a {
    font-size: 20px;
  }
  .header_logo {
    padding-left: 10px;
    font-size: 15px;
  }
  .main__parrafo {
    font-size: 20px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .section__parrafo {
    font-size: 17px;
  }
  .section {
    font-size: 20px;
    margin: 50px;
    margin-top: 1rem;
    padding: 20px;
  }
  .titulo {
    font-size: 30px;
  }
  .subtitulo {
    font-size: 20px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer__ul li {
    font-size: 20px;
    padding-left: 20px;
  }
  #fotoMia {
    height: 350px;
  }
  #ruta {
    width: 900px;
  }
  .imagen_carrusel {
    padding-top: 100px;
    width: 500px;
    justify-content: center;
  }
  section iframe {
    width: 50%;
  }
}
@media screen and (max-width: 1150px) {
  header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
}
/* medium size */
@media screen and (max-width: 992px) and (min-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .header_main {
    height: 1000px;
  }
  .header_nav_lista {
    padding: 5px;
    flex-direction: column;
  }
  .header_nav_lista li {
    padding: 12px;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .header_nav_lista li a {
    font-size: 15px;
  }
  .header_logo {
    padding-left: 10px;
    font-size: 15px;
  }
  .main__parrafo {
    font-size: 15px;
  }
  .section__parrafo {
    font-size: 13px;
  }
  .grid section img {
    height: 150px;
  }
  .section {
    margin: 50px;
    margin-top: 20rem;
    padding: 20px;
  }
  .titulo {
    font-size: 25px;
  }
  .subtitulo {
    font-size: 18px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer__ul li {
    font-size: 18px;
    padding-left: 20px;
  }
  #fotoMia {
    height: 300px;
    border: solid black 3px;
  }
  #ruta {
    width: 100%;
  }
  .imagen_carrusel {
    padding-top: 80px;
    width: 400px;
    justify-content: center;
  }
  section iframe {
    width: 60%;
  }
}
/* phone */
@media screen and (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .header_main {
    height: 1000px;
  }
  .main_alterno {
    padding-top: 300px;
  }
  .header_nav_lista {
    padding: 5px;
    flex-direction: column;
  }
  .header_nav_lista li {
    padding: 5px;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .grid section img {
    height: 150px;
  }
  main {
    padding-top: 300px;
    padding-bottom: 30px;
  }
  .header_nav_lista li a {
    font-size: 15px;
  }
  .header_logo {
    padding-left: 10px;
    font-size: 15px;
  }
  .main__parrafo {
    font-size: 15px;
  }
  .section__parrafo {
    font-size: 15px;
    padding-bottom: 30px;
  }
  .section {
    margin: 30px;
    padding: 20px;
  }
  .titulo {
    font-size: 20px;
  }
  .subtitulo {
    font-size: 13px;
    padding-bottom: 5px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer__ul li {
    font-size: 8px;
    padding-left: 20px;
  }
  #fotoMia {
    height: 300px;
    border: 5px black solid;
  }
  #ruta {
    visibility: hidden;
  }
  iframe {
    width: 400px;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .imagen_carrusel {
    padding-top: 50px;
    width: 300px;
    justify-content: center;
  }
  main {
    padding-top: 50px;
  }
  section iframe {
    width: 100%;
  }
}
/* animaciones */
header {
  animation: headerEntrada 0.7s ease-in-out;
}

/* keyframes */
@keyframes headerEntrada {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* animacion hola mundo */
.holamundoDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.holaMundo {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 12ch;
  font-size: 25px;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyFrames typing {
  from {
    width: 0;
  }
}
@keyFrames blink {}

/*# sourceMappingURL=style.css.map */
